body{
  background: url(https://ak5.picdn.net/shutterstock/videos/6845143/thumb/1.jpg)
}
/*banner*/
.banner{
  height: 200px;
  width: 100%;
  z-index:-2; 
  position:relative;
}

h1{
  position:absolute;
  color:white;
  font-family: 'Courgette', cursive;
  top:100px;
  left:350px;
}

.flex-container{
  display: flex;
	flex-flow: row wrap; 
  justify-content:space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}

.flex-item{
  height: 35px;
  width: 200px;
  background-color:#C56EE5;
  list-style: none;
  text-align: center;
  color:white;
  font-size:25px;
  border: 5px solid white;
  font-family: 'Courgette', cursive;
}
a{
  color:white;
}
/*banner*/

/*Pictures*/
.flex-container2{
  display: flex;
	flex-flow: row nowrap;
  justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}

.flex-item2{
  height: 250px;
  width: 250px;
  background-color:#C56EE5;
  list-style: none;
}
/*Pictures*/

/*About Me Paragraph*/
.box{
  position:relative;
  height: 100px;
  width: 100%;
  background-color: #39CDCD
}
.paragraph1{
  position:absolute;
  font-size:16px;
  text-align:center;
  font-family: 'Open Sans Condensed', sans-serif;
}
/*About Me Paragraph*/

/*Pink Line*/
.box2{
  height:5px;
  width:100%;
  background-color:#E56E6E
}
/*Pink Line*/

/*Movies*/
.flex-container4{
  display: flex;
	flex-flow: row nowrap;
  justify-content: space-between;
	list-style: none;
	margin:0;
	padding:0;
  color:#FF1493;
  font-size: 25px;
  font-family: 'Courgette', cursive;
}


.flex-container3{
  display: flex;
	flex-flow: row nowrap;
  justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}

.flex-item3, .flex-item4, .flex-item5{
  width: 200px;
  height: 200px;
  background-color:#39CDCD;
  list-style: none;
  align-items:center;
}

.flex-container4{
  display: flex;
	flex-flow: row wrap;
  justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}

.image{
  width: 175px;
  height: 175px;
  overflow: hidden;
  border-radius: 50%;
}

.image2{
  width: 175px;
  height: 175px;
  overflow: hidden;
  border-radius: 50%;
}

.image3{
  width: 175px;
  height: 175px;
  overflow: hidden;
  border-radius: 50%;
}
/*Movies*/

/*Travel*/
.flex-container5{
  display: flex;
	flex-flow: row nowrap;
  justify-content: space-between;
	list-style: none;
	margin:0;
	padding:0;
}

.costarica{
  width: 175px;
  height: 175px;
  overflow: hidden;
  border-radius: 50%;
}

.CR{
  display:inline;
  font-family:'Open Sans Condensed', sans-serif;
  font-size: 17px;
  font-weight:bold;
}

.bahamas{
  width: 175px;
  height: 175px;
  overflow: hidden;
  border-radius: 50%; 
}

.bah{
 display:inline; 
 font-family: 'Open Sans Condensed', sans-serif;
}
/*Travel*/

/*Book*/
.book{
  height: 275px;
}

.button	{
	background: #C56EE5;
	padding: 5px;
  margin-top:5px;
	border-radius: 5px;
	color: white;
  font-size: 20px;
  text-decoration: none;
  display:inline;
  }
